<h1>Список номеров</h1>
<form #findRecordForm="ngForm">
  <div class="form-group">
    <label>Имя: </label>
    <input class="form-control" (keyup)="submit(findRecordForm)" type="text" name="name" value="Tommy" ngModel/>
  </div>
  <button class="btn btn-default" (click)="submit(findRecordForm)">Найти</button>
</form>
<br />
<div class="alert alert-info" *ngIf="showEmptyInscription">
  <button (click)="toggle()" class="close">&times;</button>
  Записей нет
</div>
<table class="table">
  <tr *ngFor="let r of records">
    <td>{{r.name}}</td><td>{{r.phone}}</td>
  </tr>
</table>
