<h1>Новая запись</h1>
<form #addNewRecordForm="ngForm">
  <div class="form-group">
    <label>Имя: </label>
    <input class="form-control" type="text" name="name" ngModel placeholder="Введите имя" />
  </div>
  <div class="form-group">
    <label>Номер телефона: </label>
    <input class="form-control" type="number" name="phone" ngModel placeholder="Введите номер телефона" />
  </div>
  <button class="btn btn-default" (click)="submit(addNewRecordForm)">Записать</button>
</form>
<br />
<div class="alert alert-success" *ngIf="showSuccess">
  <button type="button" class="close" (click)="toggleSuccess()">&times;</button>
  <p>Запись успешно добавлена</p>
</div>
<div class="alert alert-warning" *ngIf="showWarning">
  <button type="button" class="close" (click)="toggleWarning()">&times;</button>
  <p>Запись не была добавлена</p>
</div>
