<h1>Страница о сайте</h1>
<p>
  На странице "Добавить" можно внести новые записи в телефонную книгу, для этого нужно вписать
  имя и номер телефона в соответсвующие поля, а затем нажать кнопку "Добавить"
</p>
<p>В случае успешного добавления появится следующая надпись</p>
<div class="alert alert-success">
  <button type="button" class="close">&times;</button>
  <p>Запись успешно добавлена</p>
</div>
<p>При неудачном добавлении появится другая надпись</p>
<div class="alert alert-warning" >
  <button type="button" class="close">&times;</button>
  <p>Запись не была добавлена</p>
</div>
<p>На странице поиска можно осуществить поиск нужного имени. Для этого нужно вписать искомое имя в соответсвующие поле и нажать кнопку "Найти".
  При удачном поиске появятся искомые записи. В случае отсутсвия записей появится уведомление.
</p>
<div class="alert alert-info">
  <button class="close">&times;</button>
  Записей нет
</div>
